/* @todo have this be generated since some of the classes and such are configurable through the UI */
.flex-nav-container {
  float: right;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.flex-nav-container ul,
.flex-nav-container ol {
  list-style: none;
}

.flex-flexslider .slides li,
.flex-flexslider .control-nav li,
.flex-flexslider .direction-nav li {
  list-style: none;
  list-style-image: none;
}

.flex-flexslider .flex-direction-nav .flex-next,
.flex-flexslider .flex-direction-nav .flex-prev {
  opacity: 0;
}
.flex-flexslider:hover .flex-direction-nav .flex-next,
.flex-flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
}

.flex-flexslider ul.slides,
.flex-nav-container ol.flex-control-nav,
.flex-nav-container ul.flex-direction-nav,
.flex-flexslider ul.slides li img,
.flex-flexslider ol.flex-control-nav li img {
  padding: 0px;
  margin: 0px;
}

.flex-flexslider ul.slides li img {
  height: auto;
}

.flex-flexslider .slides li {
  list-style: none;
  list-style-image: none;
}

.flex-flexslider .flex-direction-nav,
.flex-flexslider ol.flex-control-nav {
  margin: 0;
  padding: 0;
}

.flex-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  
  margin: 0;
  padding: 2%;
  text-align: center;
  width: 96%;

  background: rgba(0,0,0,0.6);
  color: white;
}
