/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.flexslider {
   margin-bottom: 0;
}

.main-menu-list {
	width: 100%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -35%;
}



.sf-menu.sf-style-pomegranate .main-menu-item {
	width: 100%;
	background: transparent url("img/menubg.png") 0 0 scroll repeat-y;
	}