
/* ---------- Color Module Styles ----------- */

/* Main */
body {
  background: #ffffff;
  color: #3b3b3b;
}
a,
a.active {
  color: #0063a0;
}

/* User zone */
#zone-user-wrapper {
  background-color: #292928;
}
#zone-user {
  color: #edeeee;
}
#zone-user a {
  color: #cbcccb;
}
#zone-user a.active {
  color: #fffefe;
}

/* Branding zone */
#zone-branding-wrapper {
  background-color: #0779be;
}
#zone-branding {
  color: #eeedee;
}
#zone-branding a,
#zone-branding a.active {
  color: #fefffe;
}
#zone-branding h2.block-title {
  color: #aaa9aa;
}

/* Menu zone */
#zone-menu-wrapper {
  background-color: #292929;
}
#zone-menu a {
  color: #cbcccc;
}
#zone-menu a.active {
  color: #fffeff;
}

/* Header zone */
#zone-header-wrapper {
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
#zone-header {
  color: #eeeeed;
}
#zone-header a,
#zone-header a.active {
  color: #fffffe;
}
#zone-header h2.block-title {
  color: #cccbcc;
}

/* Preface zone */
#zone-preface-wrapper {
  background-color: #fefeff;
}
#zone-preface {
  color: #3a3b3b;
}
#zone-preface a,
#zone-preface a.active {
  color: #0062a0;
}
#zone-preface h2.block-title {
  color: #484848;
}

/* Content zone */
#region-content {
  background-color: #aaaaaa;
}

#zone-content a,
#zone-content a.active {
  color: #0162a0;
}
#zone-content h2.block-title {
  color: #474848;
}

/* Postscript zone */
#zone-postscript-wrapper {
  background-color: #282929;
}
#zone-postscript {
  color: #a9aaaa;
}
#zone-postscript a,
#zone-postscript a.active {
  color: #cccccb;
}
#zone-postscript h2.block-title {
  color: #a9aaa9;
}

/* Footer zone */
#zone-footer-wrapper {
  background-color: #292829;
}
#zone-footer {
  color: #aaaaa9;
}
#zone-footer a,
#zone-footer a.active {
  color: #cbcbcc;
}
#zone-footer h2.block-title {
  color: #a9a9aa;
}
